<h1>Login page</h1>

<div class="center">
<label for="email" >Email</label><br />
<input  class= "h1" type="email"  name="email-address" placeholder= "email-address" ng-model= "email" required><br />
<label for="password">Password</label><br />
<input class ='h1' type="password" name="password"  placeholder="password" ng-model= "password" required><br /><br />
<button class = "button" type="submit" id= "para2" class="btn btn-success" ng-click = "loginUser()">Login</button>
<button class= "forget" type="submit" class="btn btn-success" ui-sref="forgetPassword">Forget-Password</button>
<button class= "new" type="submit" class="btn btn-success" ui-sref="register">New-User</button>
</div>
